
    {#####################}            
    {#START Display images #}       
  {% if  documents is defined and documents|length > 0 and updateForm|length > 0 %}        
 
        <table class="table no-margin modules" >                                        
            <thead>
              <tr>
                  <th>Id</th>                   
                  <th>Description</th>  
                  <th>File name</th>  
                  <th>Image</th>                    
                  <th>Actions</th>  
              </tr>
            </thead>      

            <tbody> 
            {%set i = 0 %}    
            {% for doc in documents %}

                    {%set imagepath = kernelRootDir~'/../web/bundles/lillydoo/images/originals/'~doc.name~'.'~doc.extension%}
                    {%set thumbimagepath = kernelRootDir~'/../web/bundles/lillydoo/images/thumbs/'~doc.name~'.'~doc.extension%}
                    
                    {% set assetimagepath = asset('bundles/lillydoo/images/originals/')~doc.name~'.'~doc.extension %}
                    {% set assetthumbimagepath = asset('bundles/lillydoo/images/thumbs/')~doc.name~'.'~doc.extension %}
                    
                    {% if  isfile(imagepath) and  isfile(thumbimagepath) %}
                        <tr>  
                            <td>  
                                {{doc.id}}
                            </td> 
                            <td>  
                                <a href="{{assetimagepath}}"
                                           target="_blank"> 
                                    {{doc.description}}
                                </a>                           

                            </td>    
                            <td>    
                                <span >
                                    {{doc.name}}.{{doc.extension}}
                                </span>
                            </td>
                            <td>  
                                <div class="" >  

                                    <span >
                                          <img src="{{assetthumbimagepath}}"/>
                                    </span>
                                </div>  
                            </td>
                                                                                                                                
                                {#{{ include('@Lillydoo/addressbook/updateform.html.twig') }}  #}                                 
                                                    
                            <td>                  
                                <a href="{{ path('addressbook_deletedocument',{'did':doc.id, 'id':entity.id}) }}" 
                                    class="btn btn-md btn-danger btn-flat"
                                    style ="width:100px;"                                                            
                                >                                                       
                                   Delete
                                </a> 
                            </td>   
                         </tr> 
                    {% endif %}
 
                    {% set i = i+1 %} 
            {% endfor %}
        </tbody>
     </table>    
    {% endif %}  
    {#####################}            
    {#END AFISARE INREGISTRARI#}      