{% extends 'base.html.twig' %}

{% block body %}
            
    <h1>Addressbook creation</h1>

    {{ form_start(form,{'action': path('addressbook_create', {'id': entity.id}), 
                        'method': 'POST', 
                        'name':'addressbook',
                        'attr': {'novalidate': 'novalidate'}}) }}
                        
        {{ include('@Lillydoo/addressbook/form.html.twig') }} 
        
        <input type="submit" value="Create" />
        
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('addressbook') }}">Back to the list</a>
        </li>
    </ul>
        
 {% block javascripts %}
    {{parent()}}
        <script type="text/javascript">
            $(document).ready(function() {               
                  $(".js-datepicker").datepicker({firstDay: 1,
                                             dateFormat: "yy-mm-dd",
                                            // minDate: 0,
                                             beforeShowDay: $.datepicker.noWeekends,
                    });
            });
        </script>   
   {% endblock %}     
{% endblock %}
