{% extends 'base.html.twig' %}

{% block body %}
            
    <h1>Addressbook creation</h1>

    {{ form_start(form,{'action': path('addressbook_create', {'id': entity.id}), 
                        'method': 'POST', 
                        'name':'addressbook',
                        'attr': {'novalidate': 'novalidate'}}) }}
                        
        {{ include('@Lillydoo/addressbook/form.html.twig') }} 
        
        <input type="submit" value="Save" class="btn btn-warning btn-flat" style="width:100px; margin:5px 5px;"/>
        <a href="{{ path('addressbook') }}" class="btn btn-primary btn-flat" style="width:100px; margin:5px 5px;">Cancel</a>
        
    {{ form_end(form) }}

        
    {% block javascripts %}
    {{parent()}}
        <script type="text/javascript">
            $(document).ready(function() {               
                  $(".js-datepicker").datepicker({firstDay: 1,
                                             dateFormat: "yy-mm-dd",
                                            // minDate: 0,
                                             beforeShowDay: $.datepicker.noWeekends,
                    });
            });
        </script>   
   {% endblock %}     
{% endblock %}
